
/dts-v1/;
/plugin/;

/ {
    compatible = "ti,beaglebone", "ti,beaglebone-black";

    part-number = "{{PART_NUMBER}}";
    version = "00A0";

    exclusive-use =
        {{EXCLUSIVE_USE}};

    fragment@0 {
        target = <&tscadc>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@1 {
        target = <&helper>;
        __overlay__ {
            status = "okay";
        };
    };
};
